/* 
*{
	box-sizing: border-box; 
} */

body{
	font-size: 0;
	font-family: sans-serif;
	
}

#main{
	margin: 0 auto;
	width:1040px;
	text-align: center
}

h1{
	font-size: 40px;
	font-family: sans-serif;
}

h2{
	font-size:30px;
	font-family: sans-serif;
}

h3{
	font-size:20px;
	font-family: sans-serif;
}

p{
	font-size:16px;
	font-family: sans-serif;
}

a{
	font-size:16px;
	font-family: sansgit -serif;
	
}	

#header{
	background:#e0e0de;
	padding-top: 30px;
	padding-bottom: 20px;
}

.poster{
	height: 500px;
	width: 345px;
}

#title{
	font-size: 50px;
	font-family: 'Tangerine', cursive;
	color:#C31011;
	margin-bottom: 0;
}

#tribute-info{
	margin-top: 100px;
	margin-bottom: 80px;
}

#origin-text{
	margin: 0 auto; 
	width: 800px;
	margin-top: 15px;
	line-height: 23px;
	padding-bottom: 20px;
}

#more-info{
	border: grey solid 3px;
	width: 500px;
	margin: 0 auto;
	padding-bottom: 12px;
}

/* .chef-card{
	border: solid 3px red;
} */

.chef-name{
	font-family: 'Tangerine', cursive;
	font-size: 40px;
	color:#C31011;
	margin: 0;
}

.chef-img{
	height: 417px;
	width: 419px;
	margin-top:30px;
}

.chef-bio{
	padding-bottom: 30px;
	margin: 0 auto; 
	width: 800px;
	line-height: 23px;
}

